<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='analysis.css') }}">
</head>
<body>
    <header>
        <h1>Analizy Recenzji</h1>
    </header>
    <div class="container">
        <h2>Chmura Słów</h2>
        <img src="/analysis/wordcloud" alt="Chmura Słów" style="max-width: 100%; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <a href="/" class="btn">Powrót do strony głównej</a>
    </div>
</body>
</html>
